:root {
  box-sizing: border-box;
  font-size: calc(0.9em + 0.3vw); 
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  font-family: 'Lato', Arial, sans-serif;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

@media (min-width: 60em) {
  .container {
    max-width: 50%;
    margin: 0 auto;
  }
}

a {
  margin: 0 1em;
  text-decoration: none;
  color: #fff;
}

.slide-enter {
  opacity: 0; 
  transform: translateY(100%); 
}

.slide-enter.slide-enter-active {
  opacity: 1; 
  transform: translateY(0); 
  transition: all 0.5s ease-out; 
}

.slide-leave {
  opacity: 1.0; 
  transform: translateY(0); 
}

.slide-leave.slide-leave-active {
  opacity: 0; 
  transform: translateY(100%); 
  transition: all 0.5s ease-out; 
}