.contact {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
  background-color: #eee;
  overflow: scroll;
}

.contact h3 {
  font-weight: 300;
}

.contact a {
  text-align: center;
  color: #000;
}