.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1em;
  width: 100%;
}

.project img {
  max-width: 20em; 
}

.project__info {
  margin-top: 1em;
  max-width: 25em;
}

@media (min-width: 60em) {
  .project__info {
    margin-left: 1em;
  }
}

.project__info h2 {
  margin-top: 0;
}

.project h6 {
  margin: 0.5em 0;
}

.project a {
  margin: 0;
  margin-right: 1em; 
  font-size: 1.5em;
  color: #845142;
}

.project h4 {
  font-weight: 300;
}